
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP2 Node.js</title>
</head>
<header>
    <h1>Proyecto productos websocket</h1>
</header>
<hr/>
<body>
    {{{body}}}
</body>
<footer>
    <p>&copy; 2024 proyecto productos websocket</p>
</footer>
</html>
